<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% include 'gym/common_files/common_css.html' %}
</head>
<body>
    {% include 'gym/common_files/common_header1.html'%}
<div class="main-body">
    <h1 style="text-align: center;">Hello World</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quidem deserunt, ad ullam at vero nobis delectus commodi consequatur voluptates, harum voluptas, doloremque repellendus! Repudiandae eveniet laborum quisquam odit aspernatur. Provident modi atque odio! Sapiente vero numquam modi necessitatibus id similique obcaecati recusandae soluta, laboriosam non aspernatur cupiditate, cum repudiandae?</p>
</div>
{%include 'gym/common_files/common_footer.html' %}
</body>
</html>